.lowerHeaderOutter{
     display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    color: white;
   
}
.lowerInner{
    width: 80%;
}
.lowerInner ul{
    padding-left: 10px;
padding-bottom: 5px;
     display: flex;
    justify-content: space-between;
    align-items: center;
  list-style-type: none;

}