.cardContainer {
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
}

.cardContainer img {
  padding: 10px;
  width: 50%;
  height: 200px;
  object-fit: contain;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: pointer;
}
.button button + button {
  display: none;
}
.noButton button {
  display: none;
}
.noButton button + button {
  display: block;
  cursor: pointer;
  margin-left: 40px ;
  margin-top: 10px;
}
.noButton button:hover{
    background-color: orange;
    padding: 10px;
    

}
.button button:hover {
  background-color: orange;
  padding: 10px;
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1450px;
  margin: 100px auto 100px auto;
  gap: 50px;
  justify-content: center;
}
.prduct{
    width: auto;
}
