.fade{
    position: relative;
    background-color: #fff;
}
.fade::before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(
        to bottom,
       rgba(225,225,225,0),
       rgba(225,225,225)
    );
}

